@use "../../sass/globals/variables" as *;
@use "../../sass/globals/media-queries" as *;
@use "sass:color";

.button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.primary {
    color: $background-color;
    background-color: $primary-color;

    &:hover {
      background-color: color.adjust($primary-color, $lightness: +10%);
    }
  }

  &.default {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;

    @include for-desktop {
      font-size: 1rem;
    }
  }

  &.large {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
  }

  &.icon {
    width: 2.75rem;
    height: 2.75rem;

    @include for-desktop {
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
