@use "../../sass/globals/variables" as *;
@use "../../sass/globals/media-queries" as *;

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 2.5rem;
  color: $secondary-color;
  align-items: center;
}

.goalDetails {
  display: flex;
  gap: 0.25rem;
}

.unit {
  align-self: end;
}

.input {
  display: flex;
  flex-direction: column;
  min-height: 1.5rem;
}

.field {
  width: 100%;
  padding: 0.25rem 0.25rem;
  border: 0.063rem solid #ccc;
  background: $secondary-color;
  border-radius: 0.25rem;
}

.goalButton {
  width: 100%;
  max-width: 15.625rem;
}
