@use "../../sass/globals/variables" as *;
@use "../../sass/globals/media-queries" as *;

.home-section {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.home-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;

  .goal-buttons {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;

    @include for-desktop {
      gap: 10rem;
    }
  }
}

.home-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #222;
  height: 100%;

  @include for-desktop {
    // padding: 1rem 2rem;
    // padding: 4rem 2rem;
  }
}

.post-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  height: 100%;

  @include for-desktop {
    padding: 4rem 2rem;
  }
}
