$primary-color: #0cce6b;
$secondary-color: #f8f7ff;
$background-color: #363537;
$background-secondary-color: #222;
$warning-color: #e97777;

$large-text-mobile: 1.6rem;
$medium-text-mobile: 1.25rem;

$medium-header-dekstop: 1.8rem;
