@use "../../sass/globals/variables" as *;
@use "../../sass/globals/media-queries" as *;

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
  background: $background-color;
  word-break: break-word;
  gap: 1rem;
  padding: 1.5rem 0.5rem;

  @include for-tablet-and-desktop {
    border-radius: 0.5rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  color: $primary-color;
  font-size: $medium-text-mobile;
  align-self: center;

  @include for-tablet-and-desktop {
    font-size: 1.8rem;
  }
}

.buttons {
  display: flex;
  justify-content: end;

  @include for-tablet-and-desktop {
    gap: 1rem;
  }
}

.iconButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  display: flex;
  align-self: flex-start;

  @include for-tablet-and-desktop {
    font-size: 1.8rem;
  }
}

.stats {
  display: flex;
  padding-bottom: 0.5rem;
  gap: 2rem;

  @include for-desktop {
    font-size: 1.625;
  }
}

.statsValue {
  display: flex;
  flex-direction: column;
}

.statTitle {
  color: $primary-color;
}

.edit {
  color: $primary-color;
  align-self: center;
}

.delete {
  color: $warning-color;
  align-self: center;
}
