@use "../../sass/globals/media-queries" as *;
.goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  gap: 3rem;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;

  @include for-desktop {
    gap: 10rem;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
}
