@use "../../sass/globals/media-queries" as *;
.goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;

  @include for-desktop {
    gap: 10rem;
  }
}
