@use "../../sass/globals/variables" as *;
@use "../../sass/globals/media-queries" as *;

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;

  @include for-desktop {
    padding: 1rem 4rem;
  }

  .img {
    width: 100px;

    @include for-desktop {
      width: 150px;
    }
  }
}

.ul {
  display: flex;
  gap: 0.8rem;

  @include for-desktop {
    gap: 3rem;
  }
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;

  @include for-desktop {
    font-size: 3.25rem;
  }
}

.logout {
  color: $warning-color;
}

.profile {
  color: $primary-color;
}

.iconText {
  display: none;
  font-size: 1rem;
  font-weight: bold;
  color: $secondary-color;

  @include for-desktop {
    display: inline-block;
  }
}
